__pycache__/
*.pyc
.DS_Store
runs/
uploads/
*.MOV
*.mov
*.mp4
dashboardvid.MOV
cnn_vit_hybrid/*.pt
cnn_vit_hybrid/*.pth
yolov8s/
yolov8m/
yolov10s/
yolov10m/
yolov11s/
yolov11m/
vit_standalone/*.pt
vit_standalone/*.pth
custom_detector/*.pt
one_class_svm/*.pkl
